// Styling for the download section
section.contact {

    text-align: center;
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 60px;
                line-height: 100px;
                display: block;
                width: 100px;
                height: 100px;
                color: white;
                border-radius: 100%;
            }
            &.social-twitter {
              a {
                  background-color: #faa805;
                  &:hover {
                      background-color: darken(#faa805, 5%);
                  }
              }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: $brand-google-plus;
                    &:hover {
                        background-color: darken($brand-google-plus, 5%);
                    }
                }
            }
        }
    }
}
